{% extends 'base.html.twig' %}

{% block body %}

	<div>{{ render(controller('T2VAdminBundle:Menu:index', {'active': app.request.get('_route')})) }}</div>
	
	<div class="container">

    <div class="page-header">
    	<h3 class="text-center">Afficher les contenus d'un livre</h3>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Titre du sommaire</th>
                <th>Sous-Titre du sommaire</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detailLivre in detailLivres %}
            <tr>
                <td>{% if detailLivre.categorie %}{{ detailLivre.categorie.titre }}{% endif %}</td>
                <td>{% if detailLivre.sousCategorie %}{{ detailLivre.sousCategorie.titre }}{% endif %}</td>
                <td>{{ detailLivre.contenu }}</td>
                <td>
                    <a class="btn btn-info btn-xs" href="{{ path('detaillivre_show', { 'id': detailLivre.id }) }}">Afficher</a>
                    <a class="btn btn-primary btn-xs" href="{{ path('detaillivre_edit', { 'id': detailLivre.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="t2v_adminbundle">
        <li>
            <a class="btn btn-lg btn-primary btn-block" href="{{ path('detaillivre_new') }}">Ajouter un nouveau contenu</a>
        </li>
    </ul>
    
    </div>
{% endblock %}
