{% extends 'base.html.twig' %}

{% block body %}

	<div>{{ render(controller('T2VAdminBundle:Menu:index', {'active': app.request.get('_route')})) }}</div>
	
	<div class="container">

    <div class="page-header">
    	<h3 class="text-center">Information sur le contenu d'un nouveau livre</h3>
    </div>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detailLivre.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ detailLivre.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detaillivre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('detaillivre_edit', { 'id': detailLivre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    
    </div>
{% endblock %}
