{% extends 'base.html.twig' %}

{% block body %}

	<div>{{ render(controller('T2VAdminBundle:Menu:index', {'active': app.request.get('_route')})) }}</div>
	
	<div class="container">

    <div class="page-header">
    	<h3 class="text-center">Ajouter un nouveau titre</h3>
    </div>

    {{ form_start(form, {'attr': { 'class': 't2v_adminbundle' }}) }}
        {{ form_widget(form) }}
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Enregistrer" />
    {{ form_end(form) }}

    <ul class="t2v_adminbundle">
        <li>
            <a class="btn btn-lg btn-info btn-block" href="{{ path('categorie_index') }}">Revenir à la liste</a>
        </li>
    </ul>
    
    </div>
{% endblock %}
