{% extends 'base.html.twig' %}

{% block body %}

	<div>{{ render(controller('T2VAdminBundle:Menu:index', {'active': app.request.get('_route')})) }}</div>
	
	<div class="container">

    <div class="page-header">
    	<h3 class="text-center">Modifier un sous-titre</h3>
    </div>

    {{ form_start(edit_form, {'attr': { 'class': 't2v_adminbundle' }}) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Enregistrer" />
    {{ form_end(edit_form) }}

    <ul class="t2v_adminbundle">
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-lg btn-danger btn-block" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a class="btn btn-lg btn-info btn-block" href="{{ path('souscategorie_index') }}">Revenir à la liste</a>
        </li>
    </ul>
    
    </div>
{% endblock %}
