{% extends 'base.html.twig' %}

{% block body %}

	<div>{{ render(controller('T2VAdminBundle:Menu:index', {'active': app.request.get('_route')})) }}</div>
	
	<div class="container">

    <div class="page-header">
    	<h3 class="text-center">Afficher tous les sous-titres</h3>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Titre du sommaire</th>
                <th>Numéro</th>
                <th>Sous-Titre du sommaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sousCategorie in sousCategories %}
            <tr>
                <td>{{ sousCategorie.categorie.titre }}</td>
                <td>{{ sousCategorie.numero }}</td>
                <td>{{ sousCategorie.titre }}</td>
                <td>
                    <a class="btn btn-info btn-xs" href="{{ path('souscategorie_show', { 'id': sousCategorie.id }) }}">Afficher</a>
                    <a class="btn btn-primary btn-xs" href="{{ path('souscategorie_edit', { 'id': sousCategorie.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="t2v_adminbundle">
        <li>
            <a class="btn btn-lg btn-primary btn-block" href="{{ path('souscategorie_new') }}">Ajouter un nouveau sous-titre</a>
        </li>
    </ul>
    
    </div>
{% endblock %}
